.Footer {
  width: 360px;
  margin-top: 40px;

  .footerItem {
    margin-top: 10px;
  }
}

.footerPromo {
  margin-top: 40px;
  width: 400px;

  @media screen and (min-width: 1280px) and (max-width: 1390px) {
    width: 300px;
  }

  @media screen and (min-width: 645px) and (max-width: 855px) {
    width: 700px;
  }

  .footerItem {
    margin-top: 10px;
  }
}

.footerService {
  width: 270px;
  margin-top: 40px;

  .footerItem {
    margin-top: 10px;
  }
}

.serviceItem {
  &:hover {
    cursor: pointer;
    position: relative;
    bottom: 5px;
  }
}

.waContainer {
  width: 230px;
  height: 67px;
  background-color: #19b100;
  border-radius: 15px;
}

.linkWa {
  text-decoration: none;
}
