.btnKonsul {
  width: 210px;
  height: 59px;
  border-radius: 20px;
  font-size: 18px;
  background-color: #041434;
  border-color: #041434;
  color: white;
  transition: 100ms;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }

  @media screen and (max-width: 425px) {
    font-size: 14px;
    width: 150px;
    height: 49px;
  }

  @media screen and (min-width: 425px) {
    margin-right: 40px;
  }
}

.btnSubmit {
  width: 137px;
  height: 36px;
  border-radius: 20px;
  font-size: 18px;
  background-color: white;
  border-color: white;
  color: black;
  transition: 100ms;
  text-align: center;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(1);
  }

  @media screen and (max-width: 425px) {
    font-size: 14px;
    width: 99px;
    height: 36px;
  }
}

.circle {
  width: 41px;
  height: 41px;
  border: 2px solid #acacac;
  background-color: white;
  border-radius: 50%;

  &:active {
    transform: scale(0.9);
  }

  &:hover {
    cursor: pointer;
    .arrow {
      transform: rotate(0deg);
    }
  }
}

.line {
  margin: auto;
  width: 50%;
  height: 3px;
  background-color: #9d9d9d;
  opacity: 1;
  margin-top: 20px;
  margin-bottom: 20px;
}

.arrow {
  margin: auto;

  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-left: 12px solid #5a5a5a;
  border-bottom: 8px solid transparent;
  transform: rotate(-90deg);
  transition: 500ms;
}

.imageContainer {
  @media screen and (max-width: 1439px) {
    position: absolute;
    z-index: -99;
    opacity: 0.1;
  }
  @media screen and (max-width: 768px) {
    position: absolute;
    z-index: -99;
    opacity: 0.1;
  }
}

.kenapaLegalMuda {
  background-color: #f6f5f5;
  width: 503px;
  height: 721px;
  border-radius: 50px 0 0 50px;

  @media screen and (max-width: 1023px) {
    border-radius: 50px 50px 0 0;
  }

  @media screen and (max-width: 518px) {
    width: 90vw;
  }

  .kenapaLegalMudaTittle {
    margin-top: 40px;
    width: 408px;

    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }

  .kenapaLegalMudaItem {
    width: 310px;

    @media screen and (max-width: 425px) {
      width: 100%;
    }
  }
}

.konsultasiLegalMuda {
  background-image: linear-gradient(
    180deg,
    #77acf1 0%,
    rgba(28, 4, 252, 0.99) 100%
  );
  width: 503px;
  height: 721px;
  border-radius: 0 50px 50px 0;

  @media screen and (max-width: 1023px) {
    border-radius: 0 0 50px 50px;
  }

  @media screen and (max-width: 518px) {
    width: 90vw;
  }

  .konsultasiLegalMudaTittle {
    margin-top: 40px;
  }

  .formContainer {
    margin-top: 40px;
    width: 80%;
    text-align: center;
  }

  .formBox {
    margin-bottom: 50px;

    .formInput {
      border-radius: 9px;

      &::placeholder {
        color: #00205b;
        opacity: 0.4;
      }
    }

    .formLabel {
      width: 100%;
      text-align: left;
      color: white;
    }
  }
}
