html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.fontBold {
  font-weight: 700;
}

.fontMedium {
  font-weight: 500;
}

.fontLight {
  font-weight: 200;
}

h1 {
  font-size: 64px;
  font-weight: 700;
  margin: 0;
  @media screen and (max-width: 425px) {
    font-size: 42px;
  }
}

h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  @media screen and (max-width: 425px) {
    font-size: 24px;
  }
}

#promo {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
}

h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  margin: 0;
  @media screen and (max-width: 425px) {
    font-size: 14px;
  }
}

h4 {
  font-size: 16px;
  font-weight: 300;
  margin: 0;
  @media screen and (max-width: 425px) {
    font-size: 12px;
  }
}

.pageContainer {
  .firstLeftContentHome {
    @media screen and (min-width: 768px) {
      width: 585px;
    }
    @media screen and (min-width: 1024px) {
      width: 90vw;
    }
    @media screen and (min-width: 1439px) {
      width: 585px;
    }
  }

  .firstLeftContent {
    @media screen and (min-width: 768px) {
      width: 585px;
    }
    @media screen and (min-width: 1024px) {
      width: 90vw;
    }
    @media screen and (min-width: 1439px) {
      width: 585px;
    }
  }

  .firstRightContent {
    @media screen and (max-width: 1439px) {
      position: absolute;
      z-index: -99;
      opacity: 0.1;
    }
    @media screen and (max-width: 768px) {
      position: absolute;
      z-index: -99;
      opacity: 0.1;
    }
  }

  .secondContentHome {
    margin-top: 90px;
    h1 {
      text-align: center;
      font-size: 36px;
      @media screen and (min-width: 1440px) {
        width: 62vw;
      }
      @media screen and (max-width: 425px) {
        font-size: 30px;
      }
    }
  }

  .thirdContentHome {
    margin-top: 144px;

    @media screen and (max-width: 425px) {
      margin-top: 50px;
    }
  }

  .secondContent {
    padding-bottom: 100px;
    background-color: #e4eefc;

    @media screen and (max-width: 425px) {
      margin-top: 50px;
    }
  }

  .line {
    margin: auto;
    width: 228px;
    height: 3px;
    background-color: black;
    opacity: 1;
    margin-top: 20px;
  }
}

.imagePageContainer {
  position: absolute;
  width: 755px;
  left: 600px;
  float: right;

  @media screen and (max-width: 766px) {
    display: none;
  }

  @media screen and (max-width: 1024px) {
    position: absolute;
  }
}
